<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <title>Ukko - Personal Portfolio HTML Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Template by CocoBasic" />
    <meta name="keywords" content="HTML, CSS, JavaScript, PHP" />
    <meta name="author" content="CocoBasic" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="images/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Poppins:200,400,500,700,800&display=swap' rel='stylesheet'
        type='text/css'>
    <link rel="stylesheet" href="css/clear.css">
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <link rel="stylesheet" href="css/prettyPhoto.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="style.css">

    <!--[if lt IE 9]>
            <script src="js/html5shiv.js"></script>            
            <script src="js/respond.min.js"></script>                   
        <![endif]-->
</head>

<body class="one-page">

    <div class="doc-loader"></div>

    <div class="container">
        <div class="page-wrapper">

            <!-- ================= HEADER ================= -->
            <div id="nav-btn" class="nav-btn">
                <span class="nav-btn-cover">
                    <span class="menu-line"></span>
                </span>
            </div>
            <div class="s-nav">
                <div class="nav-count">
                    <div class="current-num">
                        <span>01</span>
                    </div>
                    <div class="pagination-sep">/</div>
                    <div class="total-pages-num">07</div>
                </div>
                <div class="nav-container">
                    <a class="site-title slow-scroll" href="#home">Francia goenaga</a>
                    <nav class="nav-menu">
                        <ul class="nav-list">
                            <li><a href="#home">Inicio</a></li>
                            <li><a href="#services">Servicios</a></li>
                            <li><a href="#about">Sobre mi</a></li>
                            <li><a href="#portfolio">Proyectos</a></li>


                        </ul>
                    </nav>
                </div>
                <ul class="nav-soc">
                    <li><a href="https://www.linkedin.com/in/francia-goenaga/">Linkedin</a></li>
                    <li><a href="https://github.com/franciaa">Git Hub</a></li>

                </ul>
            </div>
            <!-- =============== HEADER END =============== -->

            <!-- ================== HOME ================== -->
            <section id="home" class="section">
                <div class="container-wrap">
                    <h1 class="entry-title" data-jarallax-element="0 30">Hola!<br>Soy <span> Francia Goenaga</span></h1>
                    <img class="main-photo block-right" data-jarallax-element="0 -30" src="images/photo-1.jpg" alt="">
                    <a href="#services" class="main-btn slow-scroll"><img src="images/scroll-icon.svg" alt=""></a>
                </div>
            </section>
            <!-- ================= HOME END ================= -->

            <!-- ================== SERVICES ================== -->
            <section id="services" class="section">

                <div class="content-670">


                    <h2 class="title">SERVICIOS</h2>



                </div>

                <ul class="serv-link-cover block-right" data-jarallax-element="0 40">
                    <li><a href="https://i.ibb.co/k4DQH41/Francia-goenaga-1.png" target="_blank">VER CURRICULUM</a></li>

                </ul>

                <div class="content-670">
                    <div class="serv-block-wrap">

                        <div class="serv-block-item">
                            <img src="images/serv-icon-1.svg" alt="">
                            <h4>RESEARCH</h4>
                            <p>
                                Investigación del usuario con la actividad integral cuyo objetivo es recopilar
                                información sobre el potencial público objetivo del producto.
                            </p>
                        </div>

                        <div class="serv-block-item">
                            <img src="images/serv-icon-2.svg" alt="">
                            <h4>DISEÑO</h4>
                            <p>
                                Diseño propuestas de mejora para los clientes, Prototipado en programa Figma.
                            </p>
                        </div>





                    </div>
                </div>
            </section>
            <!-- ================ SERVICES END ================ -->

            <!-- ==================== ABOUT ==================== -->
            <section id="about" class="section">
                <h2 class="title">Sobre mi</h2>
                <div class="section-des">
                    Soy UX Designer y estudiante en inglés me encanta estar aprendiendo constantemente cosas nuevas, soy
                    optimista a cada proyecto que se presenta y paciente ante toda situacion.

                </div>

                <div class="content-670">

                </div>

                <img class="about-img block-right" data-jarallax-element="0 -40"
                    src="https://i.ibb.co/Ycd3dZz/Whats-App-Image-2020-02-05-at-3-26-32-PM-1.jpg" alt="">

                <ul class="about-info" data-threshold="0 0" data-jarallax-element="40 0">
                    <li>
                        <h6>EMAIL</h6>
                        <a href="mailto:jackob@yourwebsite.com">Franciagoenaga4@gmail.com</a>
                    </li>
                    <li>
                        <h6>ROL</h6>
                        <span>UX Designer</span>
                    </li>
                    <li>
                        <h6>NUMERO CELULAR</h6>
                        <a href="tel:+56965956342">(+569 65956342)</a>
                    </li>
                </ul>

                <div class="about-text content-670">
                    <p>
                        Me considero una persona activamente ecologica investigo sobre el tema para descubir nuevas
                        maneras de sustentar el planeta y en base a mis descubriemientos realizo charlas para promover,
                        culturizar y educar a la gente.
                        En un futuro mis metas son juntar el area UX con la ecologia.
                    </p>

                </div>



            </section>
            <!-- ================== ABOUT END ================== -->

            <!-- ==================== PORTFOLIO ==================== -->
            <!-- SII-->
            <section id="portfolio" class="section">
                <h2 class="title">Proyectos</h2>
                <div class="section-des">
                    En el marco de laboratoria realizamos distintos proyectos orientados a las necesidades de los
                    clientes y usuarios.
                </div>

                <div id="portfolio-wrapper" class="relative block-right">
                    <div class="portfolio-load-content-holder"></div>
                    <div class="grid" id="portfolio-grid">
                        <div class="grid-sizer"></div>

                        <div id="p-item-1" class="grid-item element-item p-one">
                            <a class="item-link" href="images/item1.jpg" data-rel="prettyPhoto[portfolio]">
                                <img src="https://i.ibb.co/YcNghm7/Captura-de-pantalla-de-2020-03-01-23-49-54.png"
                                    alt="" />
                                <div class="portfolio-text-holder">
                                    <div class="portfolio-text-wrapper">
                                        <h6 class="portfolio-text">Servicio de impuestos internos <br> <br>
                                            Trabaje en investigar el viaje del usuario de la gestión de reclamos,
                                            sugerencias y felicitaciones del SII.
                                            Con el previo trabajo logramos darle un nuevo flujo más cercano para el.
                                            <br> <br>

                                            descubrimos que
                                            reestructurando la arquitectura de la navegación logramos optimizar el flujo
                                            y mejorar la usabilidad de la página sin invertir en nuevos desarrollos.




                                        </h6>
                                        <p class="portfolio-cat"></p>
                                    </div>
                                </div>
                            </a>
                        </div>


                    </div>
                </div>
                <br>
                <br>
                <div id="portfolio-wrapper" class="relative block-right">
                    <div class="portfolio-load-content-holder"></div>
                    <div class="grid" id="portfolio-grid">
                        <div class="grid-sizer"></div>

                        <div id="p-item-1" class="grid-item element-item p-one">
                            <a class="item-link" href="images/item2.jpg" data-rel="prettyPhoto[portfolio]">
                                <img src="https://i.ibb.co/SndvBWc/Captura-de-pantalla-de-2020-02-05-18-06-34.png"
                                    alt="" />
                                <div class="portfolio-text-holder">
                                    <div class="portfolio-text-wrapper">
                                        <h6 class="portfolio-text">Laborum
                                            <br> <br>
                                            Tenian la necesidad de mejorar sus servicios, específicamente el dirigido
                                            a sus clientes sin contrato comercial a través de “Alerta Empleo”.
                                            <br> Realizamos el rediseño de alerta empleos, Yo realice el trabajo de UX
                                            Writing completando de la manera más cercana el contenido escrito del
                                            prototipo realizado. <br>






                                        </h6>
                                        <p class="portfolio-cat"></p>
                                    </div>
                                </div>
                            </a>
                        </div>


                    </div>
                </div>
                <br> <br>


                <div id="portfolio-wrapper" class="relative block-right">
                    <div class="portfolio-load-content-holder"></div>
                    <div class="grid" id="portfolio-grid">
                        <div class="grid-sizer"></div>

                        <div id="p-item-1" class="grid-item element-item p-one">
                            <a class="item-link" href="images/item2.jpg" data-rel="prettyPhoto[portfolio]">
                                <img src="https://i.ibb.co/t8V7W38/Captura-de-pantalla-de-2020-03-01-23-49-46.png"
                                    alt="" />
                                <div class="portfolio-text-holder">
                                    <div class="portfolio-text-wrapper">
                                        <h6 class="portfolio-text">+Meaning
                                            <br> <br>
 
                                            MEANING se preocupa de mandarles mensajes
                                            a los apoderados con info relevante sobre
                                            fechas y comportamientos de su pupilo toda esa información era consultada anteriormente por los profesores. Mi propuesta para mejorar este flujo fue un portal 
                                            para profesores en el que ellos puedan ir actualizando notas y
                                            comportamientos de los alumnos de una manera rápida luego compartirla con
                                            +Meaning para que lleguen los datos completos a los apoderados.
 
                                            <br> <br>




                                        </h6>
                                        <p class="portfolio-cat"></p>
                                    </div>
                                </div>
                            </a>
                        </div>


                    </div>
                </div>
            </section>
            <div>
                <h2>SI ESTAS INTERESADO EN SABER MÁS SOBRE MI Y MIS PROYECTOS REALIZADOS EN LABORATORIA
                   PUEDES CONTINUAR VIENDO EN MIS REDES COMO LINKEDIN Y GIT HUB -->
                    <br>
                    <br>
                    <br>
                    <br>

                    <br>
                    <br>


                </h2>
            </div>

            <!-- ================== PORTFOLIO END ================== -->




            <!-- ================== ABOUT END ================== -->
        </div>
    </div>

    <!--=================== SCRIPT ===================-->
    <script src="js/jquery.js"></script>
    <script src="js/imagesloaded.pkgd.js"></script>
    <script src="js/jquery.fitvids.js"></script>
    <script src="js/jarallax.js"></script>
    <script src="js/jarallax-element.min.js"></script>
    <script src="js/isotope.pkgd.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src='js/owl.carousel.min.js'></script>
    <script src="js/main.js"></script>
</body>

</html>